:root{

  --color-primary:#2B6B97;
  --color-secondary:#FF7437;
  --color-white:#fff;
  --color-black:#000;
  --color-accent:#313131;

  --font-primary:'Roboto', sans-serif;
  --font-text:'Montserrat', sans-serif;;
  --font-logo:'Montserrat', sans-serif;

  --font-heading:var(--font-primary);
  --font-body:var(--font-text);
  --font-image:var(--font-logo);

}


*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0px;
  padding: 0px;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
li[role='list'] {
  list-style: none;
  display: inline;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
html, body{
    height: 100%;
}


/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.2;
  font-family: var(--font-text);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}


/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/****utilities classes*****/
h1{
    font-size: 60px;
    font-family: var(--font-heading);
    font-weight: 700;
    color: #fff;
    line-height: 1;

}

h5{
    font-size: 33px;
    font-family: var(--font-heading);
    font-weight: 400;
    color: #fff;
}


.flex  {
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.column{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.justify-end{
    justify-content: flex-end;
}

.container{
    width: 90%;
    max-width: 1140px;
    margin-inline: auto;
}



/***header style****/
.menu .menu-item {
    padding: 20px 20px 20px;
    text-transform: uppercase;

}

.menu .menu-item a{
    font-size: 14px;
    text-decoration: none;
    color: var(--color-black);
    font-family:var(--font-body);
    font-weight: var(--weight-regular);

}
.menu .active{
    background: var(--color-primary);
}

.menu .active a {
    color: var(--color-white);
}


.menu .menu-item:hover, .menu .menu-item:hover a{
    color: var(--color-white);
    background: var(--color-primary);
}

/***logo****/

.logo{
    gap: 4px;
}
.logo-content{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

/***logo END style****/

/***Hamburger style****/
.hamburger{
    display: none;
}

.hamburger .bar{
    width: 30px;
    height: 4px;
    background-color: var(--color-primary);
    margin-bottom:4px ;
}

/***Hamburger END style****/


/***banner  style****/
.banner-section{
    background-image: url("../images/Banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000bf;
    background-blend-mode: overlay;

}

.banner{
    height: 90vh;
}

.row{
    height: 100%;
}

.row > div {
    flex-basis: 100%;
}


.col .content p{
    color: #fff;
    font-size: 18px;
    color: #fff;
    margin-top: 10px;

}


.btn-primary {
    margin-top: 20px;
    background: var(--color-primary);
    border: none;
    padding: 10px 20px;
    font-size: 23px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}


.col .form-action {
    background: var(--color-black);
    padding: 100px 20px;
    height: 100%;
}

.form-action{
    width: 480px;
    color: #fff;
}
h2{
    position: relative;
}

.form-action h2::after{
    content: "";
    border: 1px solid #fff;
    height: 2px;
    background: red;
    width: 200px;

}

input[type="text"], textarea{
    background-color: #E2E2E2;
    color: #000;
    font-family: var(--font-heading);
    width: 100%;
    padding: 15px 10px;
    margin: 10px 0px;
    border: none;
}

input[type="text"]::placeholder, textarea::placeholder{
    color: #000;
    font-family: var(--font-heading);
}

.btn-secondary{
    background-color: var(--color-secondary);
    border: none;
    padding: 15px 20px;
    font-size: 14px;
    font-weight:600;
    text-transform: uppercase;
    color: #fff;
    font-family: var(--font-heading);
    letter-spacing: 2px;
    float: right;

}

/***banner END style****/

@media screen and (max-width: 1204px) {


    .menu {
        display: ;
    }
    .menu .menu-item {
        width: 100%;
    }

    .hamburger{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    
    .hamburger.active .bar:first-child{
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
       
    }

    .menu{
        top:-100%;
        position: fixed;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        background: #fff;
        left: 0;
        -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }

    .menu.active{
        top: 100px;
    }
}